{% extends "base_menu.html" %} 
{% load static %}
{% block title %}감상 기록 등록{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/create.css' %}" />
{% endblock %} 

{% block content %}
    <h2>리뷰 작성</h2>

    <p><strong>책 제목:</strong> {{ book.title }}</p>
    <p><strong>저자:</strong> {{ book.author }}</p>

    {% if book.thumbnail %}
        <img src="{{ book.thumbnail }}" alt="책 썸네일" width="120"><br><br>
    {% endif %}

<form method="POST" action="{% url 'contents:create' book.id %}" enctype="multipart/form-data">
    {% csrf_token %}

    <label>책 표지 인증 이미지</label><br>
    <input type="file" name="cover_image"><br><br>
    
    <label>평점</label><br>
    
    <select name="rating" required>
        <option value="">선택하세요</option>
        <option value="1">⭐</option>
        <option value="2">⭐⭐</option>
        <option value="3">⭐⭐⭐</option>
        <option value="4">⭐⭐⭐⭐</option>
        <option value="5">⭐⭐⭐⭐⭐</option>
    </select><br><br>
    
    <label>한 줄 감상평</label><br>
    <input type="text" name="short_comment" maxlength="100" required><br><br>
    
    <label>상세 리뷰 (선택)</label><br>
    <textarea name="detailed_review" rows="6"></textarea><br><br>
    
    <label>감정 태그 선택</label><br>
    
    <strong>1차 감정</strong><br>
    
    {% for tag in tags %}
        {% if tag.tag_type == 'primary' %}
        <label>
            <input type="checkbox" name="tag" value="{{ tag.id }}">
            {{ tag.name }}
        </label><br>
        {% endif %}
    {% endfor %}
    {% if book.thumbnail %}
        <img src="{{ book.thumbnail }}" alt="책 썸네일" width="120"><br><br>
    {% endif %}

    <form method="POST" action="{% url 'contents:create' book.id %}">
        {% csrf_token %}
        
        <label>평점</label><br>
        <select name="rating" required>
            <option value="">선택하세요</option>
            {% for i in rating_range %}
                <option value="{{ i }}">{{ i }}점</option>
            {% endfor %}
        </select><br><br>

        
        <label>한 줄 감상평</label><br>
        <input type="text" name="short_comment" maxlength="100" required><br><br>
        
        <label>상세 리뷰 (선택)</label><br>
        <textarea name="detailed_review" rows="6"></textarea><br><br>
        
        <label>감정 태그 선택</label><br>
        
        <strong>1차 감정</strong><br>
        
        {% for tag in tags %}
            {% if tag.tag_type == 'primary' %}
            <label>
                <input type="checkbox" name="tag" value="{{ tag.id }}">
                {{ tag.name }}
            </label><br>
            {% endif %}
        {% endfor %}

    <br><strong>2차 감정 (여성 중심 감정)</strong><br>
    {% for tag in tags %}
        {% if tag.tag_type == 'secondary' %}
        <label>
            <input type="checkbox" name="tag" value="{{ tag.id }}">
            {{ tag.name }}
        </label><br>
        {% endif %}
    {% endfor %}

    <br><button type="submit">리뷰 등록</button>
</form> 
{% endblock %}