{% extends "base.html" %} 
{% load static %} 
{% block title %}Shelf{% endblock%}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/intro.css' %}" />
{% endblock %} 

{% block content %}
<div class="intro-container">
  <div class="logo">
      <svg xmlns="http://www.w3.org/2000/svg" width="69" height="69" viewBox="0 0 69 69" fill="none">
        <path d="M4.35 47.9H64.65M1 68H68M4.35 24.45H64.65M4.35 68V21.1C4.35 11.6262 4.35 6.88595 7.4655 3.94465C10.581 1.00335 15.5993 1 25.6325 1H43.3674C53.4007 1 58.4156 1 61.5345 3.94465C64.65 6.88595 64.65 11.6262 64.65 21.1V68M31.15 57.95H37.85M27.8 24.45L24.45 11.05M16.075 24.45V11.05M41.2 47.9V34.5M34.5 24.45V11.05M47.9 47.9L51.25 34.5M57.95 47.9V34.5" stroke="#FFFBF2" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
  </div>
    
  <div class="title">
    <p>여성의 시선으로 읽고 나누는 공간,</p>
    <h2>Shelf</h2>
  </div>
</div>

<script>
  // 2초 후 로그인 페이지로 이동
  setTimeout(function () {
    window.location.href = "{% url 'login' %}";
  }, 2000); // 2000ms = 2초
</script>
{% endblock %}