<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>메인페이지</h2>

    {% if request.user.is_authenticated %}
        {{ request.user.nickname }}님 환영합니다. <br/>
        <a href="{% url 'mypage' %}">마이페이지</a><br>
        <form id="logout-form" action="{% url 'logout' %}" method="post" style="display:none;">
            {% csrf_token %}
        </form>
        <a href="#" onclick="document.getElementById('logout-form').submit(); return false;">로그아웃</a><br>

    {% else %}
        <a href="{% url 'login' %}">로그인</a>
        <a href="{% url 'signup' %}">회원가입</a>

    {% endif %}
    <br><br>

    <a href="{% url 'contents:book_search' %}">리뷰 작성하러가기</a>
    <br>
    <hr>

    <form method="get" action="{% url 'contents:search_reviews' %}">
        <input type="text" name="q" placeholder="제목 또는 작가로 검색">
        <button type="submit">검색</button>
    </form>
    <hr>

    <a href="{% url 'contents:filter_reviews' %}">감정별 모아보기</a>
    <hr>

    {% if random_tag and recommended_review %}
        <h3>#{{ random_tag.name }} 감정이 담긴 책 추천</h3>

        {% if recommended_review.book.thumbnail %}
            <img src="{{ recommended_review.book.thumbnail }}" alt="책 썸네일" width="100"><br>
        {% endif %}

        <p>
            <strong>{{ recommended_review.book.title }}</strong> — {{ recommended_review.book.author }}
        </p>
        <hr>
    {% endif %} 
    <br>

    <div>
        <a href="?sort=recent"{% if sort == 'recent' %} style="font-weight:bold;"{% endif %}>최신순</a> |
        <a href="?sort=popular"{% if sort == 'popular' %} style="font-weight:bold;"{% endif %}>인기순</a>
    </div>
    <br>

    {% for review in reviews %}
        <p>
            <a href="{% url 'contents:detail' review.id %}"> {{ review.book.title }} — {{ review.short_comment }} </a>
        </p>

    {% empty %}
        <p>아직 등록된 리뷰가 없습니다.</p>
    
    {% endfor %}

</body>
</html>