{% extends "base_menu.html" %} 
{% load static %}
{% block title %}감상 기록 등록{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/update.css' %}" />
{% endblock %} 

{% block content %}

<div class="review-header">
    <div class="header-icon"></div>
    <div class="header-title"> 📘 감상 기록 수정하기</div>
    <p class="header-subtitle">책 정보를 확인하고 감정을 수정해보세요</p>
  </div>

<h2>리뷰 수정</h2>

    <form method="post" action="{% url 'contents:update' review.id %}">
        {% csrf_token %}
        
        <p><strong>책 제목:</strong> {{ review.book.title }}</p>
        <p><strong>작가:</strong> {{ review.book.author }}</p>

        {% if review.book.thumbnail %}
            <img src="{{ review.book.thumbnail }}" alt="책 썸네일" width="120"><br><br>
        {% endif %}

        <div class="review-box">
            <label><strong>평점</strong></label>
            <div class="star-rating">
              {% for i in rating_range|slice:"::-1" %}
                <input type="radio" id="star{{ i }}" name="rating" value="{{ i }}" {% if review.rating == i %}checked{% endif %}>
                <label for="star{{ i }}">★</label>
              {% endfor %}
            </div>
          
            <label for="short_comment"><strong>한 줄 감상평</strong></label>
            <input type="text" id="short_comment" name="short_comment" value="{{ review.short_comment }}" placeholder="한 줄 감상평을 써주세요">
          
            <label for="detailed_review"><strong>상세 감상평</strong> <span class="optional">(선택)</span></label>
            <textarea id="detailed_review" name="detailed_review" rows="5" placeholder="자세한 감상평을 써주세요">{{ review.detailed_review }}</textarea>
          </div>
          
    <hr>
    <strong>감정 태그:</strong><br>

    <div>
        <strong>1차 감정</strong><br>
        {% for tag in tags %}
            {% if tag.tag_type == 'primary' %}
            <label>
                <input type="checkbox" name="tag" value="{{ tag.id }}"
                {% if tag in review.tags.all %}checked{% endif %}>
                #{{ tag.name }}
            </label><br>
        {% endif %}
        {% endfor %}
    </div>

    <div>
        <strong>2차 감정</strong><br>
        {% for tag in tags %}
            {% if tag.tag_type == 'secondary' %}
            <label>
                <input type="checkbox" name="tag" value="{{ tag.id }}"
                {% if tag in review.tags.all %}checked{% endif %}>
                #{{ tag.name }}
            </label><br>
            {% endif %}
        {% endfor %}
    </div>

    <br>
    <button type="submit">수정 완료</button>
</form>
{% endblock %}