body {
    font-family: "Noto Sans KR";
    font-style: normal;
    letter-spacing: -0.0255rem;
  }

.back-header {
    display: flex;
    align-items: center;
    gap: 1rem;

    box-sizing: border-box;
    padding:0 1.25rem;
    padding-top: 4rem;
    padding-bottom: 1rem;
    margin-bottom: 1.25rem;

    border-bottom: #F7F7F7 solid 0.69rem;
}

.back-header h2 {
    color: #000;
    font-family: "Noto Sans KR";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.375rem; /* 122.222% */
    letter-spacing: -0.0255rem;
    margin: 0;
}

  
  h2 {
    margin-bottom: 16px;
    margin-left: 20px;

    color: #212842;
    font-size: 1.125rem;
    font-weight: 700;
  }
  
  p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 32px;
    margin-left: 20px;
    margin-right: 20px;
    color: #1e1e1e;
  }
  
  /* 입력창 (비밀번호 입력 필드) */
  input[type="password"] {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 12px;
    background-color: #f6f6f6;
    font-size: 14px;
    box-sizing: border-box;
    margin-bottom: 20px;
    
  }
  
  /* 탈퇴하기 버튼 */
  button[type="submit"] {
    width: 90%;
    background-color: #1e254e;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 12px;
    margin-left: 20px;
  }  