body {
    font-family: "Noto Sans KR";
    font-style: normal;
    letter-spacing: -0.0255rem;
  }
  
  /* 뒤로가기 헤더 */
  .back-header {
    display: flex;
    align-items: center;
    gap: 1rem;

    box-sizing: border-box;
    padding-top:4rem;
    padding-bottom: 1rem;
    padding-left: 1.25rem;
    margin-bottom: 2.69rem;

    border-bottom: #F7F7F7 solid 0.69rem;
  }
  
.back-header h2 {
    color: #000;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.375rem; /* 122.222% */

    margin: 0;
}
  
.profile_box{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

h3.nickname{
  margin: 0;
}

.edit-profile-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-profile-container h4{
  margin: 0;
  margin-bottom: 0.5rem;
}

.nickname-edit, .profile{
  margin-bottom: 2rem;
}

  /* 기본 프사로 초기화 버튼 */
  form[action*="delete_profile_image"] button {
    display: block;
    margin: 0 auto 24px;
    background: none;
    border: none;
    color: #888;
    font-size: 13px;
    cursor: pointer;
  }
  
  /* 입력 폼 스타일 */
  form {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  input[type="text"],
  input[type="file"] {
    width: 100%;
    padding: 12px;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    background-color: #f8f8f8;
    box-sizing: border-box;
  }
  
  /* 저장 버튼 */
  button[type="submit"] {
    margin-top: 8px;
    background-color: #1e254e;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;

    margin-bottom: 2rem;
  }
  
  .profile-box img {
    margin-left: 40px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #e4e4e4;
    justify-content: center;
    margin-left: 20px;
  }
  
