p{
  color: var(--Main-2, #FFFBF2);
  font-family: "Cormorant Garamond";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 350;
  line-height: normal;

  margin: 0;
  padding-top: 9.38rem;
  padding-left: 1.25rem;
}

h2{
  color: #FFFBF2;
  font-family: "Cormorant Garamond";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  width: 8.4375rem;
  height: 3rem;
  flex-shrink: 0;
  padding-left: 1.25rem;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;   /* ← 이게 핵심 */
}

.login-container{
  width: 100%;
  height: 100%;
  background: #212842;
}

.input-group{
  width: 100%;           /* 또는 원하는 고정 width: 21.875rem */
  max-width: 350px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;   /* ← label, input 정렬 */
}

.input-group input {
  box-sizing: border-box; /* ← padding이 width 안에 포함됨 */
  width: 21.875rem;
  height: 3.0625rem;
  padding-left: 1.25rem;
  flex-shrink: 0;
  border: none;
  border-radius: 8px;
  background-color: #3e4a62;
}

input::placeholder {
  color: #F5F5F5;
  font-family: "Noto Sans KR";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.options {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

.login-btn {
  align-items: center; 
  
  width: 21.875rem;
  height: 3.0625rem;
  flex-shrink: 0;
  padding: 0.8rem;
  border-radius: 0.625rem;
  background: #5A6277;
  border: none;
  
  color: #F5F5F5;
  font-family: "Noto Sans KR";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  
  cursor: pointer;
}

.signup-link {
  text-align: center;
  margin-top: 2rem;
  color: #ccc;
}

.signup-link hr {
  border: none;
  height: 1px;
  background: #555;
  margin: 1rem 0;
}