body {
  font-family: "Noto Sans KR";
  font-style: normal;
  letter-spacing: -0.0255rem;
  display: flex;
  justify-content: center;
}

/* 뒤로가기 헤더 */
.back-header {
  display: flex;
  align-items: center;
  gap: 1rem;

  box-sizing: border-box;
  padding-top:4rem;
  padding-bottom: 1rem;
  padding-left: 1.25rem;
  margin-bottom: 3.13rem;

  border-bottom: #F7F7F7 solid 0.56rem;
}

.back-header h2 {
  color: #000;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.375rem; /* 122.222% */

  margin: 0;
}

.login-container-num {
  box-sizing: border-box;
  padding: 0 1.25rem;
}

.back-arrow-s {
  font-size: 20px;
    text-decoration: none;
    color: #1e254e;
    display: inline-block;
    margin-bottom: 12px;
}

.description-s {
  color: #212842;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.5rem; /* 133.333% */
  margin-bottom: 2.5rem;

}

.email-text{
  color: #212842;
  font-family: "Noto Sans KR";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin: 0;
  margin-bottom: 0.31rem;
}

.input-container-s {
  width: 100%;
  margin-bottom: 1.25rem;
  box-sizing: border-box;
}


.input-container-s input {
  width: 100%;
  height: 3rem;
  border-radius: 0.625rem;
  border: none;
  background: #F6F6F6;

  box-sizing: border-box;
  padding: 0 1rem;
  font-size: 1rem;
  color: #333;
}

.input-container-s input::placeholder {
  color: #B1B1B1;
}

.send-btn {
  margin-top: 1.88rem;

  width: 100%;
  height: 3rem;
  border-radius: 0.625rem;
  background: #212842;

  color: #FFFBF2;
  font-size: 0.9375rem;
  font-weight: 700;
}

.form-errors {
  margin-top: 1rem;
  color: red;
  font-size: 0.875rem;
}
