body {
    font-family: 'Apple SD Gothic Neo', sans-serif;
    
  }
  
  .login-container {
    max-width: 390px;
    margin: 0 auto;
    padding: 3rem 1.5rem 2rem;
  }
  
  h2 {
    font-size: 1.125rem;
    font-weight: 700;
    color: #1e254e;
    margin-bottom: 0.75rem;
  }
  
  p {
    font-size: 0.9375rem;
    color: #333;
    margin-bottom: 2rem;
    line-height: 1.4;
  }
  
  
  .login-btn {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    background-color: #1e254e;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
 