{% extends "base_menu.html" %} 
{% load static %}
{% block title %}감정 통계{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/emotion_status.css' %}" />
{% endblock %} 

{% block content %}
<div class="container">
<div class="back-header">
    <a href="{% url 'mypage' %}" class="back-arrow">←</a>
    <h2>감정 태그 통계</h2>
  </div>
    
    <div class="top-tags-box">
    <h3> <strong>{{request.user.nickname}}님이 가장 많이 사용한 감정 Top 3</strong></h3>
    
        {% for tag in user_top_tags %}
        <div class="top-tag-item rank-{{ forloop.counter }}">
            <span><span class="medal">🥇</span>[{{tag.get_tag_type_display }}] #{{ tag.name }}</span>
            <span class="count">({{ tag.usage_count }}회)</span>
        </div>
        {% endfor %}
    </div>
    

    
    <div class="table-box">
    <h3><strong>{{request.user.nickname}}님의 감정 태그 비율</strong></h3>
    <table>
        <thead>
        <tr>
            <th>감정 유형</th>
            <th>감정 태그</th>
            <th>사용 횟수</th>
            <th>비율</th>
        </tr>
        </thead>
        <tbody>
        {% for tag in user_tag_distribution %}
        <tr>
            <td>{{ tag.type }}</td>
            <td>#{{ tag.name }}</td>
            <td>{{ tag.count }}</td>
            <td>{{ tag.percentage }}%</td>
        </tr>
        {% empty %}
            <tr><td colspan="4">사용한 감정 태그가 없습니다.</td></tr>

        {% endfor %}
        </tbody>
</table>
</div>
</div>

{% endblock %}