{% extends "base.html" %} 
{% load static %} 
{% block title %}login{% endblock%}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock %} 

{% block content %}
<div class="login-container">
  <p>여성의 시선으로 읽고 나누는 공간,</p>
  <h2>Shelf</h2>

  <form method="post">
    {% csrf_token %}
    <div class="input-group">
      {{ form.username }}
    </div>

    <div class="input-group">
      {{ form.password }}
    </div>

    <div class="options">
      <a href="#">아이디/비밀번호 찾기</a>
    </div>
    <button type="submit" class="login-btn">로그인</button>
  </form>

  <div class="signup-link">
    <a href="{% url 'signup' %}">회원가입 하기</a>
  </div>
</div>
{% endblock %}
