{% extends "base.html" %}
{% load static %}
{% block title %}로그인{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock %}

{% block content %}
<div class="login-container">
  <p>여성의 시선으로 읽고 나누는 공간,</p>
  <h2>Shelf</h2>

  <form method="post">
    {% csrf_token %}
    <div class="input-container">
      <div class="input-group">
        {{ form.username }}
      </div>
      <div class="input-group">
        {{ form.password }}
      </div>
    </div>

    <div class="options">
      <a href="{% url 'find_id' %}">아이디 찾기</a> /
      <a href="{% url 'password_reset' %}">비밀번호 찾기</a>
    </div>
    <button type="submit" class="login-btn">로그인</button>
  </form>

  <div class="signup-link-container">
    <hr/>
    <a href="{% url 'signup' %}" class="signup-link" >회원가입 하기</a>
    <hr/>
  </div>
</div>
{% endblock %}
