{% extends "base.html" %}
{% load static %}
{% block title %}이메일 전송 완료{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/password_reset_sent.css' %}" />
{% endblock %}

{% block content %}
<div class="login-container">
  <img src="{% static 'icons/paper-plane.png' %}" alt="비밀번호 전송 아이콘" class="plane-icon" />
  <h2>비밀번호 재설정 메일이 전송되었습니다.</h2>
  <p>입력하신 이메일로 비밀번호 재설정 링크를 보냈습니다.<br>이메일을 확인해주세요.</p>

  <a href="{% url 'login' %}">
    <button class="login-btn">로그인 페이지로 돌아가기</button>
  </a>
</div>
{% endblock %}
