{% extends "base.html" %}
{% load static %}
{% block title %}새 비밀번호 설정{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/password_reset_form.css' %}" />
{% endblock %}

{% block content %}
<div class="login-container">
  <h2>새 비밀번호 입력</h2>
  <p>새로운 비밀번호를 두 번 입력해주세요.</p>

  <form method="post">
    {% csrf_token %}
    <div class="input-container">
      <div class="input-group">
        {{ form.new_password1.label_tag }}
        {{ form.new_password1 }}
      </div>
      <div class="input-group">
        {{ form.new_password2.label_tag }}
        {{ form.new_password2 }}
      </div>
    </div>

    <button type="submit" class="login-btn">비밀번호 변경</button>
  </form>

  {% if form.errors %}
  <ul class="form-errors">
    {% for field in form %}
      {% for error in field.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      <li>{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  <div class="signup-link-container">
    <hr />
    <a href="{% url 'login' %}" class="signup-link">로그인 페이지로 돌아가기</a>
    <hr />
  </div>
</div>
{% endblock %}
