{% extends "base.html" %}
{% load static %}
{% block title %}비밀번호 재설정{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/password_reset_form.css' %}" />
{% endblock %}

{% block content %}
<div class="login-container-num">
    <a href="{% url 'login' %}" class="back-arrow-s">←</a>

    <p class="description-s">
    가입하신 이메일 주소를 입력하시면<br />
    비밀번호 재설정 링크를 보내드립니다.
    </p>


  <form method="post">
    {% csrf_token %}
    <div class="input-container-s">
      {{ form.email }}
    </div>
    <button type="submit" class="send-btn">링크 보내기</button>
  </form>

  {% if form.errors %}
  <ul class="form-errors">
    {% for field in form %}
      {% for error in field.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
      <li>{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}


</div>
{% endblock %}
