<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}shelf{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% block extra_css %}{% endblock %}
    <!--Noto Sans KR-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <main class="container">
      {% block content %}
      <!-- 개별 페이지에서 이 부분을 덮어씀 -->
      {% endblock %}
    </main>
    <nav class="bottom-nav">
        <a>홈</a> <!--추후 url 수정 필요-->
        <a href="{% url 'contents:book_search' %}">등록하기</a>
        <a>감정탐색</a> <!--추후 url 수정 필요-->
        <a>마이페이지</a> <!--추후 url 수정 필요-->
      </nav>
  </body>
</html>
